body {
    background-image: url('./assets/bg1.jpg');
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
}

img:hover {
    transform: scale(1.3);
}

.back {
    background-color: black;
}

a {
    color: white;
}

a:hover {
    color: rgb(0, 81, 255);
}